.navigation {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

#home-nav {
    position: absolute;
    left: 20px;
    top: 20px;
}

#rule-nav {
    position: absolute;
    right: 20px;
    top: 20px;
}